#!/bin/sh

# Source environment too
[ -f "$HOME/.profile" ] && . "$HOME/.profile"

# Only run these in dwm
if [ "$WM" = "dwm" ]; then
    pidof dwmblocks >/dev/null || dwmblocks &
    pidof xsct >/dev/null || xsct 4200 &
#    $HOME/.local/bin/setbg
    picom &
    dunst &
    feh --bg-fill --randomize /usr/share/backgrounds/
    nm-applet &
    /usr/bin/kdeconnectd &   
   
 

fi
