#!/bin/sh

# Source environment too
[ -f "$HOME/.profile" ] && . "$HOME/.profile"

# Caps Lock as Escape
setxkbmap -option caps:escape &
# setxkbmap -option caps:ctrl_modifier &

# screen timeout
xset s 600 600
xset dpms 630 630 630
xss-lock slock &

# Only run these in dwm
if [ "$WM" = "dwm" ]; then
    dwmblocks &
    xsct 4200 &
    dunst &
    picom &
    feh --bg-fill --randomize $HOME/.local/share/wallpapers/
    nm-applet &
    /usr/bin/kdeconnectd &
fi

if [ "$WM" = "muhhwm" ]; then
    xsct 4200 &
    (sleep 1 && /usr/local/bin/muhhbar) &
    (sleep 2 && /usr/local/bin/muhhpanl) &
    dunst &
    picom &
#    feh --bg-fill --randomize $HOME/.local/share/wallpapers/*/
    feh --bg-fill --randomize $HOME/.local/share/wallpapers/free/
    nm-applet &
    /usr/bin/kdeconnectd &
fi
